//light
@font-face {
    font-family: 'Bolivar';
    src: url('Bolivar-Light.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

//light italic
@font-face {
    font-family: 'Bolivar';
    src: url('Bolivar-Light-Italic.woff2') format('woff2');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

//normal
@font-face {
    font-family: 'Bolivar';
    src: url('Bolivar-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

//normal italic
@font-face {
    font-family: 'Bolivar';
    src: url('Bolivar-Italic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

//semi-bold
@font-face {
    font-family: 'Bolivar';
    src: url('Bolivar-SemiBold.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

//semi-bold italic
@font-face {
    font-family: 'Bolivar';
    src: url('Bolivar-SemiBold-Italic.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

//bold
@font-face {
    font-family: 'Bolivar';
    src: url('Bolivar-Bold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

//bold italic
@font-face {
    font-family: 'Bolivar';
    src: url('Bolivar-Bold-Italic.woff2') format('woff2');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

//extra-bold
@font-face {
    font-family: 'Bolivar';
    src: url('Bolivar-ExtraBold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

//extra-bold italic
@font-face {
    font-family: 'Bolivar';
    src: url('Bolivar-ExtraBold-Italic.woff2') format('woff2');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}